body {
    margin: 0; padding: 0;
    width: 100vw; height: 100vh;
    overflow: hidden;
    background-color: transparent;
}

#particles-canvas {
    position: absolute;
    top: 0; left: 0; 
    width: 100%; height: 100%;
    z-index: 1; /* Самый задний план */
    pointer-events: none; /* Клики свободно проходят сквозь частицы */
}